<h1>Home</h1>
<% if current_user %>
  <p>Hello <%= current_user.name %>!</p>
  <p><%= link_to "sign out", sign_out_path, method: :post %></p>
<% else %>
  <p><%= link_to "sign in", sign_in_path, method: :post %></p>
<% end %>
