/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background: #fff;
}

body {
  margin: 20px;
}

main {
  min-height: 62vh;
  width: 50%;
  justify-content: center;
  margin: 0 auto;
}

h1 {
  font: bold 50px 'Roboto', sans-serif;
  color: #1f2a78;
  text-align: center;
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 60px;
}

p {
  font: 15px 'Roboto', sans-serif;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
  text-align: left;
}
